.instructions-changepass {
  margin-top: 25px;
  margin-right: 75px;
}

.logbox-changepass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 730px;
  width: 500px;
  background-color: #f4f4f4;
}
